body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(18, 100px);
  grid-gap: 1px;
  max-width: 1920px;
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: normal;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.square:hover {
  border: 3px solid #e74c3c;
  transform: scale(1.05);
}

.square:hover:not(#s2,#s3,#s4,#s5,#s6,#s10,#s11,#s13,#s14,#s15,#s16,#s17,#s19,#s37,#s55,#s72,#s73,#s90,#s109,#s126,#s127,#s144,#s163,#s180,#s199,#s216,#s217,#s235,#s252,#s253,#s270,#s271,#s288,#s289,#s306,#s308,#s309,#s311,#s314,#s317,#s320,#s323):before {
  content: attr(data-info);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cfcfcf;
  padding: 5px;
  border: 1px solid #000000;
  display: block;
  z-index: 1;
}

#s2,#s3,#s4,#s5,#s6,#s10,#s11,#s13,#s14,#s15,#s16,#s17,#s19,#s37,#s55,#s72,#s73,#s90,#s109,#s126,#s127,#s144,#s163,#s180,#s199,#s216,#s217,#s235,#s252,#s253,#s270,#s271,#s288,#s289,#s306,#s308,#s309,#s311,#s314,#s317,#s320,#s323 {
  background: none;
  border: none;
  opacity: 0;
}
