body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(18, 100px);
  grid-gap: 0px;
  max-width: 1920px; /* 如果希望 grid 不要超过一定宽度，可以设置 max-width */
  margin: auto; /* 使用 auto 居中 */
}

.square {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: normal;
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.square:hover {
  border: 3px solid #e74c3c;
  transform: scale(1.05);
}

.square:hover::before {
  content: attr(data-info);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cfcfcf;
  padding: 5px;
  border: 1px solid #000000;
  display: block;
  z-index: 1;
}

.blank:hover::before {
  display: none;
}

.spacer {
  width: 100px; /* 或者你想要的空白格宽度 */
  height: 100px; /* 或者你想要的空白格高度 */
}

#s1,#s2,#s3 {
  background: none;
  border: none;
}

#s4 {
  background-color: #e74c3c; /* 方块2的背景颜色 */
}

#square3 {
  background-color: #2ecc71; /* 方块3的背景颜色 */
}
